@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.add-inventory {
  padding-top: 1rem;
  width: 91%;
  margin: 5rem auto 1rem auto;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: white;
  position: relative;
  bottom: 10.938rem;
  margin-bottom: -10.938rem;

  @include tablet {
    width: 92%;
    bottom: 11.25rem;
    margin-bottom: 4rem;
    padding-top: 0;
  }

  @include desktop {
    width: 80%;
    margin-bottom: -4rem;
  }

  &__header {
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    @include tablet {
      border-bottom: 1px solid $border-color;
      padding: 1.55rem 2.5rem 0.25rem 2.5rem;
    }
  }

  &__arrow {
    fill: $interactive-elements;
    width: 1.5rem;
    margin-bottom: 0.25rem;
    cursor: pointer;
  }

  &__heading {
    margin-bottom: 1.5rem;

    @include tablet {
      margin-bottom: 1.1rem;
      margin-top: 0.75rem;
    }
  }

  &__form-content {
    @include flex-column;

    @include tablet {
      flex-direction: row;
    }
  }
  &__radio-label {
    margin-bottom: 0.25rem;
    font-family: "Titillium Web";
  }
  &__radio-input {
    margin-right: 0.5rem;
  }
  &__section {
    padding: 1rem 1.5rem;
    border-top: 1px solid $border-color;

    @include tablet {
      width: 50%;
      border: none;
      padding: 0 2.5rem;
      margin-top: 2rem;
    }

    &--border {
      @include tablet {
        border-left: 1px solid $border-color;
      }
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  &__label {
    margin-bottom: 0.25rem;
  }

  &__input {
    @include input-box;
    width: 100%;
    margin-bottom: 0.5rem;
    &--item {
      width: 20%;
    }
    &--error {
      border: 1px solid $out-of-stock-label;
    }
    &--text {
      width: 100%;
      height: 12rem;
    }
    &:hover,
    &:active {
      border-color: #2e66e5;
    }
  }

  &__error-message {
    font-family: "Titillium Web", sans-serif;
    color: $out-of-stock-label;
    font-size: 0.6875rem;
    margin: 0;
    display: flex;
    align-items: center;

    @include tablet {
      font-size: 0.75rem;
    }
  }

  &__error-icon {
    margin-right: 0.25rem;
  }

  &__form-group {
    padding-right: 1.5rem;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: $page-background;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    margin-top: 0.5rem;

    @include tablet {
      justify-content: flex-end;
      align-items: center;
      margin-top: 1.5rem;
    }
  }

  &__cancel {
    width: 50%;
    @include secondary-button;

    @include tablet {
      width: auto;
      margin-right: 1rem;
    }
  }

  &__add {
    width: 50%;
    @include primary-button;

    @include tablet {
      width: auto;
    }
  }
}
