@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.modal {
    width: 84%;
    background-color: white;
    margin: 2rem auto;
    padding: 1rem;

    &__body {
        @include flex-column;

    }


    &__close {
        align-self: flex-end;
    }
}