$tablet-breakpoint: 768px;

$desktop-breakpoint: 1280px;

$nav-background: #232940;

$page-background: #F7F8F9;

$text-color: #13182C;

$header-color: #5C667E;

$border-color: #BDC5D5;

$in-stock-label: #158463;

$out-of-stock-label: #C94515;

$interactive-elements: #2E66E5;
