@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.warehouse-inventory {
	width: 100%;
	padding: 1rem 0;

	&__headings {
		display: none;

		@include tablet {
			display: grid;
			grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
			gap: 1rem;
			padding: 0.75rem 2rem;
			background-color: $page-background;
			color: $header-color;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;

		@include tablet {
			display: flex; 
			flex-direction: column;
			gap: 1px;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		padding: 1rem;
		background-color: white;
		border: 1px solid $border-color;

		@include tablet {
			display: grid;
			grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
			align-items: center;
			padding: 1.5rem;
		}
	}

	&__link {
		color: $interactive-elements;
		font-weight: 600;
		text-decoration: none;
        cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}

	&__status {
		text-align: center;
		padding: 0.25rem 0.5rem;
		border-radius: 1rem;
		font-weight: 600;
		text-transform: uppercase;
        max-width: 7rem;
        font-family: "Titillium Web";

		&.in-stock {
			color: $in-stock-label;
			background-color: rgba($in-stock-label, 0.07);
		}

		&.out-of-stock {
			color: $out-of-stock-label;
			background-color: rgba($out-of-stock-label, 0.07);
		}
	}

	&__actions {
		display: flex;
		gap: 0.5rem;
		justify-content: center;

		button {
			border: none;
			background: none;
			cursor: pointer;

			svg {
				width: 1.5rem;
				height: 1.5rem;
			}
		}
	}
}
