@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.inventory-list {
	display: flex;
	flex-direction: column;
	width: 100%;

	// Headings for tablet/desktop
	&__headings {
		display: none;

		@include tablet {
			display: flex;
			justify-content: space-between;
			padding: 0.75rem 2rem;
			background-color: $page-background;
			color: $header-color;
		}
	}

	// Mobile-specific labels
	&__label {
		color: $text-color;

		&--mobile {
			display: inline-block;
			font-weight: 600;
			font-size: 0.688rem;
			line-height: 1rem;
			color: $header-color;
			margin-right: 0.25rem;

			@include tablet {
				display: none;
			}
		}

		&--actions {
			text-align: center;
		}
	}

	// Items container
	&__items {
		display: flex;
		flex-direction: column;
		gap: 1px;

		@include tablet {
			gap: 0; /* Remove gaps between rows */
		}
	}

	// Individual item styling
	&__item {
		display: flex;
		flex-wrap: wrap; /* Prevents breaking */
		justify-content: space-between;
		align-items: center;
		padding: 1rem;
		background-color: white;
		border: 1px solid $header-color;

		@include tablet {
			padding: 1.5rem;
		}
	}

	// Details within an item
	&__details {
		flex: 2;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		@include tablet {
			flex-direction: row;
			align-items: center;
		}
	}

	// Each column
	&__category,
	&__status,
	&__quantity,
	&__actions {
		flex: 1;
		display: flex;
		align-items: center;

		&:last-child {
			justify-content: flex-end;
		}
	}

	// Link styling for the inventory title
	&__link {
		color: $interactive-elements;
		font-weight: 600;
		text-decoration: none;
        font-family: "Titillium Web";

		&:hover {
			text-decoration: underline;
		}

		svg {
			width: 1rem;
			height: 1rem;
			margin-left: 0.5rem;
			fill: $interactive-elements;

			&:hover {
				fill: darken($interactive-elements, 10%);
			}
		}
	}

	// Pill styling for in-stock and out-of-stock labels
	&__status-pill {
		display: inline-block;
		text-align: center;
		padding: 0.25rem 0.5rem;
		border-radius: 1rem;
		font-weight: 600;
		text-transform: uppercase;

		&.in-stock {
			color: $in-stock-label;
			background-color: rgba($in-stock-label, 0.07);
		}

		&.out-of-stock {
			color: $out-of-stock-label;
			background-color: rgba($out-of-stock-label, 0.07);
		}
	}

	// Actions for the item
	&__actions {
		display: flex;
		gap: 0.5rem;
		align-items: center;

		button {
			border: none;
			background: none;
			cursor: pointer;

			svg {
				width: 1.5rem;
				height: 1.5rem;
			}
		}
	}
}